/***********  fonts ****************/

@font-face{
	font-family:'almoni-700';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-700.eot'); 
	src: url('../fonts/almoni-dl-aaa-700.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-700.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-700.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-900';
	font-weight:900; /*(black)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-900.eot'); 
	src: url('../fonts/almoni-dl-aaa-900.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-900.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-900.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-300';
	font-weight:300; /*(light)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-300.eot'); 
	src: url('../fonts/almoni-dl-aaa-300.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-300.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-300.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-400';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-400.eot'); 
	src: url('../fonts/almoni-dl-aaa-400.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-400.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-400.ttf') format('truetype');
}

a {
	@include links;
}

html{
	height: 100%;
	#page, #main{
		height: 100%;
	}
	.display-menu{
		#navigation{
  			height: calc(100% - 97px);
		}
	}
}

//Overall Changes to theme
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left: 30px;
  padding-right: 30px;
}

body{
	font-family:   'almoni-400', sans-serif;
	font-size: 18px;
	background-color: #fcfcfc;
}

.wrapper-width{
	@include width;
}
/* 
 * main menu
 ****************************************/
.menu-button{
	background-color: $green;
	color: #fff;
	overflow: hidden;
	float: right;
	padding: 11px 16px 6px 11px;
	z-index: 200;
	cursor: pointer;
	position: absolute;
	span{
		width: 17px;
		height: 2px;
		margin-bottom: 4px;
		background-color: #fff;
		display: block;  
		transition: all 0.5s;
  		-webkit-transition: all 0.5s;
	}
	.text{
		float: right;
		font-family:   'almoni-700', sans-serif;
		font-size: 1.5em;
	}
	.lines{
		float: left;
		padding-right: 13px;
    	padding-top: 6px;
	}
}

.display-menu .menu-button{
  span{
    margin: 0;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 6px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

#main-menu{
	float: right;
	background-color: rgba(77, 77, 77, 0.9);
  	height: 100%;
  	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	opacity: 1;
  	li{
		width: 100%;
	}
}

#main-menu.hide{
	opacity: 0;
}
/*
#container-triangle {
  height: calc(100% - 138px);
  width: 170px;
  overflow: hidden;
  position: relative;
}
#triangle-topleft { 
    content: '';
    position: absolute;
    left: 20%;
    width: 100%; 
    height: 200%; 
    background-color: rgb(77, 77, 77); 
	background-color: rgba(77, 77, 77, 0.9);
    top: 0;
    -webkit-transform: rotate(23deg);
    -moz-transform: rotate(23deg);
    transform: rotate(23deg);
}*/
/* 
 * FRONT
 ****************************************/

.front{
	#page{
		max-width: 100%;
		padding: 0;
	}
	#page-title{
		display: none;
	}
	#main{
		padding: 0;
	}
	#navigation{
		width: 100%;
		padding: 0;
	}
}

body.front{
	height: 100%;
}

.flexslider{
	border: none;
}

.view-home-page-gallery{
	position: absolute;
	top: 0;
	z-index: -1;
	.view-content{
		position: relative;
		top: -60px;
	}
}

.region-top{
	position: absolute;
	height: 100%;
	#block-views-home-page-slideshow-block{
		position: absolute;
		top: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
}
/* 
 * HEADER THEME
 ****************************************/

// Logo
header {
  @include width;
  padding: 47px 3% 39px!important;
}

// the Header region 
.header__region {
	margin-right: 10.1%;
	float: right;
	clear: none !important;
}

// The language switcher blcok
#block-lang-dropdown-language {
	
	padding-top: 47px;
	h2 {
		display: none;
	}
	.dd-selected {
		padding: 6px;
	}
	.dd-select {
		width: 78px !important;
		height: 27px;
		@include black_bt;
		border-radius: 0;
		a {
			color: $white;
		}
		&:hover {
			.dd-pointer , 
			.dd-pointer-down {
				border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				border-width: 6px;
			} 
		}
	}
	.dd-pointer , 
	.dd-pointer-down {
		border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) ;
		right: 80%;
	}

}

// The text resize block
#block-textsize-form {
	h2 {
		display: none;
	}
}