/***********  fonts ****************/

@font-face{
	font-family:'almoni-700';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-700.eot'); 
	src: url('../fonts/almoni-dl-aaa-700.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-700.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-700.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-900';
	font-weight:900; /*(black)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-900.eot'); 
	src: url('../fonts/almoni-dl-aaa-900.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-900.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-900.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-300';
	font-weight:300; /*(light)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-300.eot'); 
	src: url('../fonts/almoni-dl-aaa-300.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-300.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-300.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-400';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-400.eot'); 
	src: url('../fonts/almoni-dl-aaa-400.eot#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-dl-aaa-400.woff') format('woff'), 
		url('../fonts/almoni-dl-aaa-400.ttf') format('truetype');
}

a {
	@include links;
}

html{
	height: 100%;
	#page{
		height: 100%;
	}
	.display-menu{
		#main{
  			height: calc(100% - 138px);
		}
		#navigation{
			height: 100%;
		}
	}
}

//Overall Changes to theme
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left: 30px;
  padding-right: 30px;
}

body{
	font-family:   'almoni-400', sans-serif;
	font-size: 18px;
	background-color: #fcfcfc;
}

.wrapper-width{
	@include width;
}
/* 
 * main menu
 ****************************************/
.menu-button{
	background-color: $green;
	color: #fff;
	overflow: hidden;
	float: right;
	padding: 11px 16px 6px 11px;
	z-index: 200;
	cursor: pointer;
	position: absolute;
	span{
		width: 17px;
		height: 2px;
		margin-bottom: 4px;
		background-color: #fff;
		display: block;  
		transition: all 0.5s;
  		-webkit-transition: all 0.5s;
	}
	.text{
		float: right;
		font-family:   'almoni-700', sans-serif;
		font-size: 1.5em;
	}
	.lines{
		float: left;
		padding-right: 13px;
    	padding-top: 6px;
	}
}

.display-menu .menu-button{
  span{
    margin: 0;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 6px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

#main-menu{
	float: right;
	background-color: rgba(77, 77, 77, 0.9);
  	height: 100%;
  	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	opacity: 1;
  	li{
		width: 100%;
	}
}

#main-menu.hide{
	opacity: 0;
}
/*
#container-triangle {
  height: calc(100% - 138px);
  width: 170px;
  overflow: hidden;
  position: relative;
}
#triangle-topleft { 
    content: '';
    position: absolute;
    left: 20%;
    width: 100%; 
    height: 200%; 
    background-color: rgb(77, 77, 77); 
	background-color: rgba(77, 77, 77, 0.9);
    top: 0;
    -webkit-transform: rotate(23deg);
    -moz-transform: rotate(23deg);
    transform: rotate(23deg);
}*/
/* 
 * FRONT
 ****************************************/

.front{
	#page{
		max-width: 100%;
		padding: 0;
	}
	#page-title{
		display: none;
	}
	#main{
		padding: 0;
	}
	#navigation{
		width: 100%;
		padding: 0;
	}
}

body.front{
	height: 100%;
}

.flexslider{
	border: none;
}

.view-home-page-gallery{
	position: absolute;
	top: 0;
	z-index: -1;
	.view-content{
		position: relative;
		top: -60px;
	}
}

.region-top{
	height: calc(100% - 138px);
	position: absolute;
	width: 100%;
	bottom: 0;
  .slide{
      -webkit-background-size: cover!important;
      -moz-background-size: cover!important;
      -o-background-size: cover!important;
      background-size: cover!important;
      height: 100%;
      width: 100%;
  }
  .flex-active-slide, .slides, .flexslider, .view-content, .view, #block-views-home-page-slideshow-block{
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .flex-direction-nav{
    a{
      background-image:  url("../images/arrows.png");
      height: 52px;
      width: 29px;
      opacity: 1;
      text-indent: -9999px;
      display: block;
      &.flex-prev {
        background-position: 29px 0;
        right: 20px;
      }
      &.flex-next {
        left: 20px;
        background-position: 120px 0px;
        right: auto;
      }
    }
  }
  .flexslider:hover .flex-direction-nav a.flex-next{
    right: auto!important;
  }
  .flex-direction-nav a::before{
    content: "";
  }
}

.display-menu .region-top{
  z-index: -1;
}
/* 
 * HEADER THEME
 ****************************************/

// Logo
header {
  @include width;
  padding: 47px 3% 39px!important;
  height: 138px;
}

// the Header region 
.header__region {
	margin-right: 10.1%;
	float: right;
	clear: none !important;
}

// The language switcher blcok
#block-lang-dropdown-language {
	
	padding-top: 47px;
	h2 {
		display: none;
	}
	.dd-selected {
		padding: 6px;
	}
	.dd-select {
		width: 78px !important;
		height: 27px;
		@include black_bt;
		border-radius: 0;
		a {
			color: $white;
		}
		&:hover {
			.dd-pointer , 
			.dd-pointer-down {
				border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				border-width: 6px;
			} 
		}
	}
	.dd-pointer , 
	.dd-pointer-down {
		border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) ;
		right: 80%;
	}

}

// The text resize block
#block-textsize-form {
	h2 {
		display: none;
	}
}

/********  superslider   ***********/

#slides {
  position: absolute!important;
  z-index: 0;
  width: 100%;
  .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  .scrollable:after {
    content: "";
    display: table;
    clear: both;
  }
  .slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 40.5%;
    width: 100%;
    a {
      position: absolute;
      display: block;
      background-image:  url("../images/arrows.png");
      height: 87px;
      width: 43px;
      height: 52px;
      width: 29px;
      &.prev {
        background-position: 29px 0;
        right: 20px;
      }
      &.next {
        left: 20px;
        background-position: 120px 0px;
      }
    }
  }
  .slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
    a {
      border-radius: 15px;
      width: 14px;
      height: 14px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin: 8px;
      overflow: hidden;
      text-indent: -9999px;
      background-color: #999;
    }
    a.current {
      background-color: #fff;
    }
  }
  .link-slide{
    position: absolute;
    width: 100%;
    background-color: #4d4d4d;
    bottom: 0;
    height: 32px;
    .link{
      width: 1280px;
      max-width: 100%;
      margin: 0 auto;
      a{
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        float: left;
        margin-left: 12%;
        font-size: 25px;
        padding-top: 40px;
        text-align: center;
        line-height: 23px;
        margin-top: -100px;
      }
    }
  }
  .link-slide-1, .link-slide-3{
    a{
        color: #fff;
    }
    a:hover{
    }
  }
  .link-slide-2{
    a{
        color: #fff;
        background-color: #b5946c;
    }
    a:hover{
        background-color: #a0774e;
    }
  }
  .link-slide-4{
    a{
        color: #fff;
        background-color: #848484;
    }
    a:hover{
        background-color: #5a5a5a;
    }
  }
}
